name: meta-mono

on:
  push:
    branches:
      - master
      - whinlatter
  pull_request:
    branches:
      - master
      - whinlatter
    paths-ignore:
      - "**.md"
jobs:
  build-and-test:
    runs-on: [self-hosted, linux, X64]
    timeout-minutes: 960
    container:
      image: dynamicdevices/yocto-ci-build:latest
      options: --privileged --platform linux/amd64  -v /dev/net/tun:/dev/net/tun -v /dev/kvm:/dev/kvm
    strategy:
      max-parallel: 1
      matrix:
        dotnet_version: [10.0.100, 8.0.406, 6.0.428]
        mono_version: [6.12.0.206]
        branch: [whinlatter]
        arch: [x86-64, arm64]
    env:
      name: build-and-test
      MONO_VERSION: ${{ matrix.mono_version }}
      DOTNET_VERSION: ${{ matrix.dotnet_version }}
      ARCH: ${{ matrix.arch }}
      BRANCH: ${{ matrix.branch }}
    steps:
    - name: Checkout meta-mono
      uses: actions/checkout@v4
      with:
        clean: false
        path: ${{ matrix.branch }}/meta-mono
    # Whinlatter (5.3+): poky repo no longer has release branches.
    # Clone bitbake, openembedded-core and meta-yocto individually.
    # See: https://docs.yoctoproject.org/dev/migration-guides/migration-5.3.html
    - name: Clone base layers
      run: |
        clone_or_update() {
          local url="$1" branch="$2" dest="$3"
          if [ ! -d "$dest" ]; then
            git clone "$url" -b "$branch" "$dest"
          else
            cd "$dest"
            git fetch origin "$branch"
            git checkout "$branch"
            git pull origin "$branch"
            cd "$GITHUB_WORKSPACE"
          fi
        }
        clone_or_update https://git.openembedded.org/bitbake 2.16 ${BRANCH}/layers/bitbake
        clone_or_update https://git.openembedded.org/openembedded-core whinlatter ${BRANCH}/layers/openembedded-core
        clone_or_update https://git.yoctoproject.org/meta-yocto whinlatter ${BRANCH}/layers/meta-yocto
    - name: Clone meta-openembedded
      run: |
        if [ ! -d ${BRANCH}/layers/meta-openembedded ]; then
          git clone https://github.com/openembedded/meta-openembedded.git -b ${BRANCH} ${BRANCH}/layers/meta-openembedded
        else
          cd ${BRANCH}/layers/meta-openembedded
          git pull origin ${BRANCH}
          cd "$GITHUB_WORKSPACE"
        fi
    - name: Configuring
      run: |
        rm -f ${BRANCH}/build/conf/local.conf
        rm -f ${BRANCH}/build/conf/bblayers.conf
        TEMPLATECONF=$GITHUB_WORKSPACE/${BRANCH}/layers/meta-yocto/meta-poky/conf/templates/default \
          . ./${BRANCH}/layers/openembedded-core/oe-init-build-env ${BRANCH}/build

        # Append custom variables for regenerated local.conf and bblayers.conf samples
        echo "### Starting to configure local.conf and bblayers.conf ###"
        echo "mono version: $MONO_VERSION"
        echo "dotnet version: $DOTNET_VERSION"

        echo "BBLAYERS += '$GITHUB_WORKSPACE/${BRANCH}/meta-mono'" >> conf/bblayers.conf
        echo "BBLAYERS += '$GITHUB_WORKSPACE/${BRANCH}/layers/meta-openembedded/meta-oe'" >> conf/bblayers.conf
        echo "BBLAYERS += '$GITHUB_WORKSPACE/${BRANCH}/layers/meta-openembedded/meta-python'" >> conf/bblayers.conf

        echo "BB_DEFAULT_EVENTLOG = \"\"" >> conf/local.conf
        echo "MACHINE = \"qemu${ARCH}\"" >> conf/local.conf
        echo "DL_DIR = \"$GITHUB_WORKSPACE/downloads\"" >> conf/local.conf
        echo "SSTATE_DIR = \"$GITHUB_WORKSPACE/sstate\"" >> conf/local.conf
        echo "PREFERRED_VERSION_mono = \"${MONO_VERSION}\"" >> conf/local.conf
        echo "PREFERRED_VERSION_mono-native = \"${MONO_VERSION}\"" >> conf/local.conf

        echo "PREFERRED_VERSION_dotnet = \"${DOTNET_VERSION}\"" >> conf/local.conf
        echo "PREFERRED_VERSION_dotnet-native = \"${DOTNET_VERSION}\"" >> conf/local.conf

        echo "INHERIT += \" create-spdx cve-check rm_work \"" >> conf/local.conf
        sed -i 's/#IMAGE_CLASSES += "testimage testsdk"/IMAGE_CLASSES += "testimage "/' conf/local.conf
        echo "SPDX_PRETTY = \"1\"" >> conf/local.conf

        echo "BB_NUMBER_THREADS ?= \"\${@oe.utils.cpu_count()}\"" >> conf/local.conf
        echo "PARALLEL_MAKE ?= \"-j \${@oe.utils.cpu_count()} -l \${@oe.utils.cpu_count()*2}\"" >> conf/local.conf
    # Flush stale sstate/sysroot to ensure fresh builds with corrected
    # host/fxr layout and dotnet wrapper.
    # TODO: remove this step once all matrix jobs have rebuilt successfully.
    - name: Clean stale sstate
      run: |
        . ./${BRANCH}/layers/openembedded-core/oe-init-build-env ${BRANCH}/build
        bitbake -c cleansstate dotnet dotnet-native python3-clr-loader python3-clr-loader-native dotnet-helloworld python3-pythonnet
    - name: Building Mono Test Image
      run: |
        . ./${BRANCH}/layers/openembedded-core/oe-init-build-env ${BRANCH}/build
        bitbake test-image-mono
    - name: CVE Check Mono / dotNet
      run: |
        . ./${BRANCH}/layers/openembedded-core/oe-init-build-env ${BRANCH}/build
        export TERM=linux
        bitbake mono -c cve_check
        mv $GITHUB_WORKSPACE/${BRANCH}/build/tmp/log/cve/cve-summary.json $GITHUB_WORKSPACE/${BRANCH}/build/tmp/log/cve/cve-summary-mono.json
        bitbake dotnet -c cve_check
        mv $GITHUB_WORKSPACE/${BRANCH}/build/tmp/log/cve/cve-summary.json $GITHUB_WORKSPACE/${BRANCH}/build/tmp/log/cve/cve-summary-dotnet.json
    - name: Testing
      run: |
        . ./${BRANCH}/layers/openembedded-core/oe-init-build-env ${BRANCH}/build
        export TERM=linux
        bitbake test-image-mono -c testimage
    - name: Store artifacts
      uses: actions/upload-artifact@v4
      with:
        name: test-image-mono-${{ matrix.branch }}-${{ matrix.mono_version }}-${{ matrix.dotnet_version }}-${{ github.sha }}-${{ matrix.arch }}
        path: ./${{ matrix.branch }}/build/tmp/deploy/images/qemu${{ matrix.arch }}/
    - name: Store CVEs
      uses: actions/upload-artifact@v4
      with:
        name: cve-summary-${{ matrix.branch }}-${{ matrix.mono_version }}-${{ matrix.dotnet_version }}-${{ github.sha }}-${{ matrix.arch }}
        path: ./${{ matrix.branch }}/build/tmp/log/cve/*.json
